[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-supertab"]
	path = vim/bundle/vim-supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-colors-colarized"]
	path = vim/bundle/vim-colors-colarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/fsharp"]
	path = vim/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
